@use "./variables";

// BORDER
.border-50 {
	border-radius: 50%;
}

.border-none {
	border: none;
}

// TEXT CLASSES
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-upper {
	text-transform: uppercase;
}

.text-cap {
	text-transform: capitalize;
}

.text-lower {
	text-transform: lowercase;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.text-light {
	color: $light-1;
}

.text-dark {
	color: $dark-1;
}

// SPACE
.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

// FLEXBOX
.d-flex {
	display: flex;
}
