// SCALING: https://type-scale.com/

@use "../3-base/typography";

// COLORS
$light-1: white;
$light-2: lightgray;
$dark-1: black;
$dark-2: darkblue;

// FONTS
$font-1: "Roboto";

// SIZES

// BORDER
